#container {
  position: relative;  
  width: 100%;
  height: 100%;

  background: rgb(0,0,0);
}

.box-frame {
    position: absolute;
    display: block;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;

    background-color: rgb(255,255,255);
}

.box-frame:hover {
    background: rgba(0,0,0,0);
    border: 5px rgb(255,255,255) dashed;
} 

.box-content {
    position: absolute;
    display: block;

    padding: 0;
    margin: 0;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
}

.box-view {
    pointer-events: none;
    opacity: 0;
    overflow: hidden;
}

.box-editor {
    opacity: 0;
}

.visible {
    opacity: 1;
}

/* display: inlineでは使えない & overflow: visible でも使えない*/
.resizer {
    display: block;
    resize: block;
    overflow: hidden;
}


/*
参考: https://qiita.com/YukiHoshi/items/0ed4b628acdab696be62
スタイル	領域の確保	クリック（イベント）
display:none;	×	×
visibility:hidden;	○	×
opacity:0;	○	○
*/