#container {
  position: relative;  
  width: 100%;
  height: 100%;

  background: rgb(0,0,0);
}

.box-frame {
    position: absolute;
    display: block;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;

    background-color: rgb(255,255,255);
}

.box-content {
    position: absolute;
    display: block;

    padding: 0;
    margin: 0;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
}

.box-view {
    pointer-events: none;
    visibility: hidden;
}

.box-editor {
    visibility: hidden;
}

.visible {
    visibility: visible;
}