

$main-color: rgb(57,123,108);
body {
    overflow: clip;

}
.header {
    //position: absolute;
    //top: 0;
    //left: 0;
    //z-index: 100;
    //width: 100vw;
}

#container {
    display: block; 
    overflow-x: hidden; /* 子要素がはみ出しても表示 */
    overflow-y: visible;
    
    position: relative;
    width: 100%;
    height: calc(100% - var(--memolive-logo-bar-height));// %指定だとコンテナの外に基準が存在しないので
    
    background: rgb(0,0,0);
    padding-bottom: 1px;
}

.box-frame {
    position: absolute;
    display: block;

    margin: 0;
    box-sizing: border-box;
    //overflow: hidden;

    background-color: rgb(255,255,255);
}

.image-box-frame.box-frame:hover {
    //background: rgb(0,0);
    /*padding: 10px;*/
    border: 5px rgb(255,255,255) dashed;
}

.image-box-frame > input[type="file"].box-editor {
    color: transparent;
    //background-image: url('/static/note/image/ui_box_import.svg');
    //background-position: center;
    //justify-content: center;
    //text-align: center;

    //display: flex;
    //justify-content: center;
    //align-items: center;
}

textarea.box-editor {
    padding: 10px;
}

.image-box-frame > input[type="file"].box-editor::file-selector-button {
    //all: unset;
    display: block;
    color: black;
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    height: 50px;

    border-radius: 5px;
    margin: auto;

    background-color: rgba(0,0,0,0);

    border: none;
}



.box-frame.loading {
    border: 5px rgb(255,255,0) dashed;
}

.box-content {
    position: absolute;
    display: block;

    padding: 0;
    margin: 0;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
}

.box-view {
    pointer-events: none;
    opacity: 0;
    overflow: hidden;
}

.box-editor {
    opacity: 0;
}

.visible {
    opacity: 1 !important;
}

.deactivated  {
    //visibility: hidden !important;
}

/* display: inlineでは使えない & overflow: visible でも使えない*/
.resizer {
    display: block !important;
    //resize: both !important;
    //overflow: hidden !important;
    position: absolute;
    background-color: rgb(255,200,0);
    width: 16px;
    height: 16px;
    //border-radius: 50%;
    visibility: hidden;

    transform: translateY(-50%) translateX((-50%));

    //border: solid 10px rgba(0,0,0,0);
}

.resizer.dragging {
    visibility: visible;
    background-color: rgba(0,235,235,0.75);
}

.box-frame.resizing > .resizer:not(.dragging) {
    visibility: visible;
    background-color: rgba(200,255,255,1);
}

.box-frame:hover > .box-editor:not(.visible) ~ .resizer {
    visibility: visible;
}

.box-frame.no-focus-editor:hover > .resizer {
    visibility: visible;
}

.data-type-icon {
    position: absolute;
    display: block;
    bottom: 100%;
    left: 100%;
    //transform: translateX(-30%) translateY(30%);
    width: 4rem;
    height: 4rem;
    border-radius: 25%;
    border-bottom-left-radius: 0%;
    visibility: hidden;
    background-color: rgb(255,255,255);
    padding: 10px;
}

.data-type-icon > img {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.box-frame:hover > .data-type-icon {
    visibility: visible;
    
} 

.text-view {
    white-space: pre !important;
}

.text-editor {
    overflow:hidden !important;
}


/*
参考: https://qiita.com/YukiHoshi/items/0ed4b628acdab696be62
スタイル	領域の確保	クリック（イベント）
display:none;	×	×
visibility:hidden;	○	×
opacity:0;	○	○
*/

.text-box-frame {
    border-radius: 16px;
    border-bottom-right-radius: 0px;

    
    font-family: "Zen Kaku Gothic New", "Jura", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.def-font {
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", 和文フォント指定, sans-serif;
    //font-family: serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.ui-block-option {
    
}

.box-mask {
    display: none;
}

.box-mask.loading {
    display: block;
    z-index: 2;
    background: rgba(0,0,0,0.5);
    pointer-events: none;
}

.box-mask.loading-error {
    display: block;
    z-index: 2;
    background: rgba(255,0,0,0.5);
    pointer-events: none;
}


.embed-anchor {
    display: inline-block;
    overflow: hidden;
    position: relative;
    pointer-events: all;
}

.text-editor.visible ~ .text-view {
    display: none;
}

/*.text-view {
    overflow-y: scroll;
}*/

@keyframes hero-gradient-animation {
    0% {
        --s-start-0: 15%;
        --s-end-0: 72%;
        --y-0: 99%;
        --x-0: 37%;
        --c-0: hsla(291, 76%, 91%, 1);
        --x-1: 41%;
        --c-1: hsla(224, 99%, 60%, 1);
        --s-start-1: 4%;
        --s-end-1: 56%;
        --y-1: 78%;
        --s-start-2: 2%;
        --s-end-2: 81%;
        --x-2: 49%;
        --c-2: hsla(183, 52%, 85%, 1);
        --y-2: 27%;
        --c-3: hsla(207, 75%, 75%, 1);
        --x-3: 59%;
        --y-3: 43%;
        --s-start-3: 7%;
        --s-end-3: 70%;
        --c-4: hsla(183, 73%, 64%, 1);
        --x-4: 87%;
        --y-4: 8%;
        --s-start-4: 0%;
        --s-end-4: 62%;
    }

    100% {
        --s-start-0: 19%;
        --s-end-0: 83%;
        --y-0: 13%;
        --x-0: 79%;
        --c-0: hsla(276, 51%, 95%, 1);
        --x-1: 66%;
        --c-1: hsla(298, 86%, 62%, 1);
        --s-start-1: 1%;
        --s-end-1: 73%;
        --y-1: 20%;
        --s-start-2: 15%;
        --s-end-2: 66%;
        --x-2: 47%;
        --c-2: hsla(218, 71%, 85%, 1);
        --y-2: 96%;
        --c-3: hsla(236, 68%, 100%, 1);
        --x-3: 28%;
        --y-3: 84%;
        --s-start-3: 5%;
        --s-end-3: 68%;
        --c-4: hsla(239, 59%, 70%, 1);
        --x-4: 37%;
        --y-4: 82%;
        --s-start-4: 20%;
        --s-end-4: 75%;
    }
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 15%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 72%
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 99%
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 37%
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(291, 76%, 91%, 1)
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 41%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(224, 99%, 60%, 1)
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 4%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 56%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 78%
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 81%
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 49%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(183, 52%, 85%, 1)
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 27%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(207, 75%, 75%, 1)
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 59%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 43%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 70%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(183, 73%, 64%, 1)
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 87%
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8%
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 62%
}

.ai-editor,.ai-box-frame {
    --y-0: 99%;
    --x-0: 37%;
    --c-0: hsla(291, 76%, 91%, 1);
    --x-1: 41%;
    --c-1: hsla(224, 99%, 60%, 1);
    --y-1: 78%;
    --x-2: 49%;
    --c-2: hsla(183, 52%, 85%, 1);
    --y-2: 27%;
    --c-3: hsla(207, 75%, 75%, 1);
    --x-3: 59%;
    --y-3: 43%;
    --c-4: hsla(183, 73%, 64%, 1);
    --x-4: 87%;
    --y-4: 8%;
    ;
    background-color: hsla(223, 89%, 87%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal, normal;
}