$breakpoint: 200px;

.ui-container {
    background-color: rgba(0,0,0,0);
    position: fixed;
    width: 100vw;
    height: 80px;
    bottom: 0;
    left: 0;
}

.ui-spacer {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    margin: auto;
    width: 70%;
    height: 100%;
    min-width: $breakpoint;

    @media (max-width: $breakpoint) {
        min-width: calc(100% - 20px);
    }
    background-color: rgba(255,255,255,0.15);
    border: none;
    border-radius: 50px;
}

.ui-item {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: rgb(255,255,255);
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.ui-item > img {
    width: 50%;
    height: 50%;
}