$clear-blue: rgb(13, 110, 253);
$main-color: rgb(57,123,108);
$accent-color: rgb(71, 255, 206);
:root {
  --main-color: rgb(57,123,108);
  --accent-color: rgb(71, 255, 206);
  --accent-color2: rgb(13, 110, 253);
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  width: 100%;
  height: 100%;
}

textarea {
    resize: none;
}


a {
  color: inherit;
  text-decoration: none;
}
  
* {
  box-sizing: border-box;
}

.mochiy-pop-one-regular {
  font-family: "Mochiy Pop One", serif;
  font-weight: 400;
  font-style: normal;
}

.poiret-one-regular {
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
}

.jost-400 {
  font-family: "Jost", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jura-400 {
  font-family: "Jura", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.logo-font {
  @extend .poiret-one-regular
}

.note-logo-bar {
  width: 100%;
  height: var(--memolive-logo-bar-height);
  padding: 0;
/*    background: #11631c;
  background-color: rgb(37,153,118);*/
  
  background-color: $main-color;
  border-bottom: 1px white solid;
}

.app-icon {
  height: 100%;
  margin: auto;
  padding: auto;
  border: none;
}

.vr {
  height: 100%;
  border-left: rgb(200,200,200) solid 1px;
  box-sizing: content-box;
  width: 0px;
}

.olive-symbol {
  color: $main-color;
  font-weight: 900;
}

.olive-symbol-image {
  display: inline;
  height: auto;
  font-size: inherit;
  height: 1em;
  width: 1em;
}

a {
  color: $clear-blue;
}

a:hover {
  color: $accent-color;
}