$main-color: rgb(57,123,108);

.main-container {
    text-align: center;
}

h1 {
    color: $main-color;
}

.hero {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}