$main-color: rgb(57,123,108);

.main-container {
    text-align: center;
}

h1 {
    color: $main-color;
}

.hero {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-footer {
    position: fixed;
    bottom: 20px;
    margin: auto; 
    left: 0;
    right: 0;
}

.spacer {

    display: block;
    height: 50px;
}

.head-message {
    margin-left: 50px;
}

.feature-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    flex-grow: 1;
    
    flex-wrap: wrap;

    width: 660px;
    margin: 0 auto;

    column-gap: 10px;

}

.description {
    width: 660px;
    display: block;
    margin: 0 auto;
}

.feature-item {
    padding: 30px;
    border-radius: 25px;
    border: rgba(255,255,255,0.6) 5px solid;
    flex: 0 0 auto; /* 要素の幅をコンテンツに応じて設定 */
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-col {
  flex-basis: 100%; /* 幅全体を覆う */
  margin-top: 0; /* 次の行に移動 */
}

.feature-item:hover {
    background-color: rgba(255,255,255,0.6);
    //text-decoration: underline;
}