.note-list-item {
    display: inline-block;
    width: 80%;
    height: 2em;
    border: rgb(80,80,80) solid 1px;
    margin: 10px;
    padding: 5px;
}

#note_list{
    display:flex;
    flex-wrap: wrap;
    align-items:start;
    justify-content:center;
    width:100%;
    height:100%;
    

}

h1#title-color{
    display:block;
    width:fit-content;
    height:fit-content;
    color: var(--accent-color);
    
    
}

#background{
    width: 100%;
    height: 100%;
    background-color:#323;
}