{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{title}}</title>
    <link rel='stylesheet' href='{% static "note/style/global.css" %}'>
    {% bootstrap_css %}
    <!-- ブラウザによる表示の違いを少なくする: https://unpkg.com/ress/dist/ress.min.css -->
    <link rel='stylesheet' href='{% static "note/lib/style/ress.css" %}'>
</head>
<body>
    {% block content %}
    {% endblock content %}
    <!-- thanks: https://qiita.com/dojyorin/items/00c167d0b4b41872b4a2 -->
    <script async type="module">
        import {transpile, ScriptTarget} from "https://esm.sh/typescript@5.6.3?target=esnext";
        import {minify} from "https://esm.sh/terser@5.36.0?target=esnext";
        (async()=>{
            // esnext-polyfill
            Uint8Array.prototype.toBase64 ??= function() {
                return btoa(Array.from(this, (v) => String.fromCharCode(v)).join(""));
            }
        
            for(let {type, textContent, src} of document.getElementsByTagName("script")) {

                if(type !== "text/typescript") {
                    continue;
                }
                if(!textContent) {
                    textContent = await (await fetch(src)).text();
                }
            
                const js = transpile(textContent, {
                    target: ScriptTarget.ESNext
                });
            
                const {code} = await minify(js, {
                    module: true
                });
            
                await import(`data:text/javascript;base64,${new TextEncoder().encode(code).toBase64()}`);
            }
        })();
    </script>
    {% bootstrap_javascript %}
</body>
</html>