{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{title}}</title>
    <link rel='stylesheet' href='{% static "note/style/global.css" %}'>
    {% bootstrap_css %}
    <!-- ブラウザによる表示の違いを少なくする: https://unpkg.com/ress/dist/ress.min.css -->
    <link rel='stylesheet' href='{% static "note/style/ress.css" %}'>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Jura:wght@300..700&family=Mochiy+Pop+One&family=Noto+Sans+JP:wght@100..900&family=Outfit:wght@100..900&family=Poiret+One&family=Zen+Antique&family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">
    
    <script src="{% static 'note/lib/apicall-lib.js' %}"></script>
    <script src="{% static 'note/lib/cookie-lib.js' %}"></script>
    <script src="{% static 'note/lib/csrf-lib.js' %}"></script>

    {% bootstrap_javascript %}
    <!-- thanks: https://qiita.com/dojyorin/items/00c167d0b4b41872b4a2 -->
    <script async type="module">
        import {transpile, ScriptTarget} from "https://esm.sh/typescript@5.6.3?target=esnext";
        import {minify} from "https://esm.sh/terser@5.36.0?target=esnext";
        
        const tsExcuter = async()=>{
            // esnext-polyfill
            Uint8Array.prototype.toBase64 ??= function() {
                return btoa(Array.from(this, (v) => String.fromCharCode(v)).join(""));
            }
        
            for(let {type, textContent, src} of document.getElementsByTagName("script")) {

                if(type !== "text/typescript") {
                    continue;
                }
                if(!textContent) {
                    textContent = await (await fetch(src)).text();
                }
            
                const js = transpile(textContent, {
                    target: ScriptTarget.ESNext
                });
            
                const {code} = await minify(js, {
                    module: true
                });
            
                await import(`data:text/javascript;base64,${new TextEncoder().encode(code).toBase64()}`);
            }
        };
        /**
         * DOMContentLoaded 
         * はスクリプト実行の機会がある前に発生することがあるため、
         * リスナーを追加する前にチェックするのが賢明です。
         * https://developer.mozilla.org/ja/docs/Web/API/Document/DOMContentLoaded_event
        */
        if (document.readyState === "loading") {
            // Loading hasn't finished yet
            document.addEventListener("DOMContentLoaded", tsExcuter);
        } else {
            // `DOMContentLoaded` has already fired
            tsExcuter();
        }
    </script>
    {% csrf_token %}
</head>
    {% block content %}
    {% endblock content %}
</html>