{% extends 'note/base.html' %}
{% load static %}
{% load sass_tags %}
{% block content %}
    {% include 'note/header-ui.html' %}
    <script src="{% static 'note/script/ex_lib/html2canvas/html2canvas.min.js' %}"></script>
    <script src="{% static 'note/script/ex_lib/browser-image-compression@2.0.0/browser-image-compression.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/lamejs@1.2.1/lame.min.js"></script>

    <script src="https://unpkg.com/tone@15.0.4/build/Tone.js"></script>
    <!--
        <script src="http://localhost:{{ nodejs_server_port }}/socket.io/socket.io.js"></script>
    -->
    <script src="{{socket_server_url}}/socket.io/socket.io.js" id="socket-io-lib"></script>

    <link rel='stylesheet' href='{% sass_src "note/style/editor.scss" %}'>
    
    <link rel='stylesheet' href='{% sass_src "note/style/modal.scss" %}'>
    
    <link rel='stylesheet' href='{% sass_src "note/style/editor-ui.scss" %}'>

    <link rel='stylesheet' href='{% sass_src "note/style/markdown.css" %}'>

    <!-- exが付いているファイルは自分では制作していないファイル -->
    <link rel='stylesheet' href='{% sass_src "note/style/ex-animation2.scss" %}'>
    <link rel='stylesheet' href='{% static "note/style/ex-animation.css" %}'>

    <div id="container">
    </div>
    {% csrf_token %}
    <div class="ui-container">
        <div class="ui-spacer">
            
            <div class="ui-item ui-button" id="ui-item-for_text">
                <img class="ui-icon" src="{% static 'note/image/ui_icon_text.png' %}">
            </div>
            <div class="ui-item ui-button" id="ui-item-for_file">
                <img class="ui-icon" src="{% static 'note/image/ui_icon_file.png' %}">
            </div>
            <div class="ui-item ui-button" id="ui-item-for_canvas">
                <img class="ui-icon" src="{% static 'note/image/ui_icon_canvas.png' %}">
            </div>
            <span class="vr"></span>
            <div class="ui-item ui-lamp" id="ui-item-for_autosave">Autosave</div>
            <div class="ui-item ui-lamp" id="ui-item-for_nudge">Nudge</div>
            <div class="ui-item ui-lamp" id="ui-item-for_live">Live</div>

            <div class="svg-wrapper ui-save" id="ui-save">
                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                    <rect id="shape" height="40" width="150" />
                    <div id="text">
                        <a><span class="spot"></span>SAVE</a>
                    </div>
                </svg>
            </div>
        </div>
    </div>
    <script>
        //const initialPageObjects = {{ initialPageObjects }};

        const NOTE_ID = "{{ note.id }}";
        const SYSTEM_API_PATH_SEGMENT = "{{ SYSTEM_API_PATH_SEGMENT }}";
        const SOCKET_IO_LIBURL = "{{socket_server_url}}/socket.io/socket.io.js";
        //import { io } from "https://cdn.socket.io/4.8.1/socket.io.esm.min.js";
    </script>
    <script src="{% static 'note/script/note.ts' %}" type="text/typescript"></script>
{% endblock content %}