{% extends 'note/base.html' %}
{% load static %}
{% load sass_tags %}
{% block content %}
    {% include 'note/header-ui.html' %}
    <script src="/socket.io/socket.io.js"></script>

    <link rel='stylesheet' href='{% sass_src "note/style/editor.scss" %}'>
    
    <link rel='stylesheet' href='{% sass_src "note/style/modal.scss" %}'>
    
    <link rel='stylesheet' href='{% sass_src "note/style/editor-ui.scss" %}'>

    <!-- exが付いているファイルは自分では制作していないファイル -->
    <link rel='stylesheet' href='{% sass_src "note/style/ex-animation2.scss" %}'>
    <link rel='stylesheet' href='{% static "note/style/ex-animation.css" %}'>

    <div id="container">
    </div>
    {% csrf_token %}
    <div class="ui-container">
        <div class="ui-spacer">
            
            <div class="ui-item ui-button" id="ui-item-for_text">
                <img class="ui-icon" src="{% static 'note/image/ui_icon_text.png' %}">
            </div>
            <div class="ui-item ui-button" id="ui-item-for_image">
                <img class="ui-icon" src="{% static 'note/image/ui_icon_image.png' %}">
            </div>
            <div class="ui-item ui-button" id="ui-item-for_canvas">
                <img class="ui-icon" src="{% static 'note/image/ui_icon_paint.png' %}">
            </div>
            <span class="vr"></span>
            <div class="ui-item ui-lamp" id="ui-item-for_autosave">Autosave</div>
            <div class="ui-item ui-lamp" id="ui-item-for_nudge">Nudge</div>
            <div class="ui-item ui-lamp" id="ui-item-live">Live</div>

            <div class="svg-wrapper ui-save" id="ui-save">
                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                    <rect id="shape" height="40" width="150" />
                    <div id="text">
                        <a><span class="spot"></span>SAVE</a>
                    </div>
                </svg>
            </div>
        </div>
    </div>
    <script>
        //const initialPageObjects = {{ initialPageObjects }};
        
        const NOTE_ID = "{{ note.id }}";
        const SYSTEM_API_PATH_SEGMENT = "{{ SYSTEM_API_PATH_SEGMENT }}";
    </script>
    <script src="{% static 'note/script/note.ts' %}" type="text/typescript"></script>
{% endblock content %}