{% extends 'note/base.html' %}
{% load static %}
{% block content %}
    {% include 'note/header-ui.html' %}
    
    {% load compress %}
    {% compress css %}
    <link rel='stylesheet' type="text/x-scss" href='{% static "note/style/editor.scss" %}'>
    {% endcompress %}
    
    <div id="container">
    </div>
    {% csrf_token %}
    
    <script>
        //const initialPageObjects = {{ initialPageObjects }};
        
        const NOTE_ID = "{{ note.id }}";
        const SYSTEM_API_PATH_SEGMENT = "{{ SYSTEM_API_PATH_SEGMENT }}";
    </script>
    <script src="{% static 'note/script/note.ts' %}" type="text/typescript"></script>
{% endblock content %}