{% load static %}
{% load sass_tags %}
<link rel='stylesheet' href='{% sass_src "note/style/header.scss" %}'>


<header class="header">

    <div class="note-logo-bar">
        <image class="app-icon d-inline" src="{% static 'note/image/memolive_icon.jpg' %}">
        <h1 class="logo-font d-inline-block app-name">
            Memolive
        </h1>
        <p class="d-inline-block jost-400">@{{note.name}}</p>
    </div>

    <div class="note-info" id="content-loading-display"><div id="content-loading-bar" class="animation-bar animate-bar"></div></div>
    
    <select id="ui" class="jost-400">
        <option class="ui-block-option" value="">--the type of box--</option>
        <option class="ui-block-option" value="image">image</option>
        <option class="ui-block-option" value="text">text</option>
        <option class="ui-block-option" value="canvas">canvas</option>
    </select>
</header>