{% load static %}
{% load sass_tags %}
<link rel='stylesheet' href='{% sass_src "note/style/header.scss" %}'>


<header class="header">

    <div class="note-logo-bar">
        <a href="/note">
            <image class="app-icon d-inline" src="{% static 'note/image/memolive_icon.jpg' %}">
        </a>
        <h1 class="logo-font d-inline-block app-name">
            Memolive
        </h1>
        {% if note and note.name %}
        <p class="d-inline-block text-font">@{{note.name}}</p>
        {% endif %}
    </div>

    <div class="note-info" id="content-loading-display"><div id="content-loading-bar" class="animation-bar animate-bar"></div></div>
</header>