{% load static %}
{% load sass_tags %}
<link rel='stylesheet' href='{% sass_src "note/style/header.scss" %}'>
<link rel='stylesheet' href='{% static "compiled/note/style/header.css" %}'>


<header class="header">

    <div class="note-logo-ber">
        <h1 class="poiret-one-regular">Memolive</h1>
    </div>
    <div class="d-inline-block jura-400 note-info">{{note.name}}({{note.id}})</div>
    
    <br>
    
    <select id="ui">
        <option value="">--the type of box--</option>
        <option value="image">image</option>
        <option value="text">text</option>
        <option value="canvas">canvas</option>
    </select>
</header>