{% extends 'note/base.html' %}
{% load static %}
{% block content %}
<body>
    <link rel="stylesheet" href="{% static 'note/style/landing.css' %}">
    <div class="main-container">
        <div class="note-logo-ber">
            <h1 class="logo-font">Memolive</h1>
        </div>
        <p>
            スピーディーにメモ &<br>
            リアルタイムに協働
        </p>
        <h2><a href="note/">いますぐ始める</a></h2>
        <p>
            Memoliveは、メモ一つ一つにURLが割り当てられます。<br>
            ブックマークに保存して複数の人とリアルタイムに編集しましょう。
        </p>
        <p>
            古代ギリシャの知恵の神アテナが、人々にオリーブの木を贈り豊かな生活をもたらしたように、<br>
            このメモアプリはあなたの知恵と想像力を引き出し、日常に調和をもたらします。<br>
            オリーブのように実りのあるアイデアを育てましょう。
        </p>
    </div>
</body>
{% endblock content %}
