{% extends 'note/base.html' %}
{% load static %}
{% block content %}
{% load sass_tags %}
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{% sass_src 'note/style/landing.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'note/style/ex-animation3.scss' %}">
    <div class="main-container context">
        <div class="hero">
            <div class="note-logo-ber">
                <h1 class="logo-font">Mem<img class="olive-symbol-image" src="{% static 'note/image/olive.png' %}">live</h1>
            </div>
            
            
        </div>
        <h2><a href="note/">いますぐ始める</a></h2>
        <span class="spacer"></span>
        <div class="feature-list">
            <p class="feature-item">
                スピーディーにメモ &<br>
                リアルタイムに協働
            </p>
            <p class="feature-item">
                Memoliveは、メモ一つ一つにURLが割り当てられます。<br>
                ブックマークに保存して複数の人とリアルタイムに編集しましょう。
            </p>
            <br>
            
            <p class="feature-item cover-col">
                何か~~~~~
            </p>
        </div>
        <span class="spacer"></span>
        <p class="landing-footer">
            古代ギリシャの知恵の神アテナが、人々にオリーブの木を贈り豊かな生活をもたらしたように、<br>
            このメモアプリはあなたの知恵と想像力を引き出し、日常に調和をもたらします。<br>
            オリーブのように実りのあるアイデアを育てましょう。
        </p>
    </div>
    
<div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
</div >
</body>
{% endblock content %}
