{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="{% static 'note/lib/apicall-lib.js' %}"></script>
    <script src="{% static 'note/lib/cookie-lib.js' %}"></script>
    <script src="{% static 'note/lib/csrf-lib.js' %}"></script>
</head>
<body>
    {% csrf_token %}
    <input type="text" id="name" placeholder="ここにノートの名前を書く">
    <input type="button" id="submit" value="作成">
    <script src="{% static 'note/script/test.js' %}"></script>
</body>
</html>